body {
    padding-top: 70px;
}

.jumbotron {
    color: #2c3e50;
    background: #ecf0f1;
}

.navbar-fixed-top {
    background: #2c3e50;
}

.navbar-fixed-top .navbar-nav>li>a {
    color: white;
}

.navbar-fixed-top .navbar-brand {
    color: white;
}